/*impostazioni generali*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/*header*/
header{
    background-color: #ffffff;
    padding: 10px 20px;
}
.title{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

/*contenitori*/
.container{
    padding: 10px 0px 8px 50px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 10px;
}

.list{
    margin-top: 3px;
    padding: 35px 0px 35px 65px;
}

/*bottoni*/
.button{
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.azzurro{
    background-color:deepskyblue;
    color: #ffffff;
    border-color:deepskyblue;
}

.bianco{
    background:transparent;
    color: #c4cbd0;
    border-color:#c4cbd0;
}

/*lista*/
.circle{
    display: inline-block;
    border:1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}

.check{
    color: green;
    border-color: green;
}

.cross{
    color: red;
    border-color: red;
}

.task-list{
    margin-top: 12px;
    list-style: none;
}

.task{
    margin-bottom: 10px;
}

.task-text{
    display: inline-block;
    margin:auto 4px;
}

.tag{
    display: inline-block;
    background-color: red;
    padding: 6px 10px;
    color:#ffffff;
    border-radius: 10px;
    font-size: 12px;
}

.tag-blue{
    background: deepskyblue;
}

.tag-purple{
    background: darkorchid;
}

.tag-green{
    background: green;
}

.tag-orange{
    background: orange;
}

.tag-pink{
    background: palevioletred;
}

.tag-light-green{
    background: lightgreen;
}
